# temp file convention
*.ignore

# temp files 
*.swp
*.save
*.save.*


# zsh 
.histfile
.zhistfile
.zcompdump
zsh/.zsh_history/
zsh/.zcompcache/

# tmux
tmux/plugins/tpm
tmux/plugins/tmux-resurrect
tmux/plugins/tmux-continuum
tmux/plugins/tmux-sidebar
tmux/plugins/tmux-cpu
tmux/resurrect
tmux/screenshots/*.screenshot
tmux/plugins/tmux-mem-cpu-load

# private config
alias/private.bash
alias/private.zsh


#
.idea
.DS_Store
*/.DS_Store
zsh/.zsh_sessions/**
