# temp files 
*.swp
*.save
*.save.*


# zsh 
.histfile
.zhistfile
.zcompdump

# tmux
tmux/plugins/tpm
tmux/plugins/tmux-resurrect
tmux/plugins/tmux-continuum
tmux/resurrect
tmux/screenshots/*.screenshot

