# zsh
/conf/zsh/.zsh_sessions/
/conf/zsh/.zcompdump

.git

# temp file convention
*.ignore

# temp files
*.swp
*.save
*.save.*



# tmux
tmux/plugins/tpm
tmux/plugins/tmux-resurrect
tmux/plugins/tmux-continuum
tmux/plugins/tmux-sidebar
tmux/plugins/tmux-cpu
tmux/resurrect
tmux/screenshots/*.screenshot
tmux/plugins/tmux-mem-cpu-load

# private config
ctrls/darwin/map/private.bash
ctrls/darwin/map/private.zsh
conf/git/config-work


#
.idea
*.iml
.DS_Store
*/.DS_Store
"Icon\r"

# Python
__pycache__/
*.py[cod]
*$py.class
