#### config
#
# The ssh client reads its configuration in the following precedence order:
# 
# 1. Options specified from the command line.
# 2. Options defined in the $HOME/.ssh/config.
# 3. Options defined in the /etc/ssh/ssh_config
#
#  Use Cases:
# 1.  Create a alias for the host
# 2.  Configure for non Default Port
# 3.  Configure for User name that is different from the local user name
# 4.  Configure for IdentityFile to avoid the scanning of all the keys
#
#
#  Usage:
#  `> ln -s ~/hrt/boot/settings/ssh/ssh_client.config ~/.ssh/config
#  `> mkdir ~/.ssh/config.d`                           - drop all config files in this directory
#  `> touch ~/.ssh/config.d/sensitive.conf`  - use .conf suffix so vim can syntax highlight
###

# Include all sensitive ssh client configuration from config.d directory
Include ~/.ssh/config.d/*.conf

Host bitbucket.org
  AddKeysToAgent yes
  IdentityFile ~/.ssh/server_access_key_bitbucket_ed25519_b256

Host github.com
  AddKeysToAgent yes
  IdentityFile ~/.ssh/server_access_key_github_ed25519

# ssh server running in vbox guestos chaos on port 22 [default]
# NAT Network: vbox -> network -> local port forward is enabled 2222:22
# Bridge Network: No need for port forward 
Host erebus.chaos.vbox
  Hostname 192.168.0.134 
  # Port 2222
  User balak
  IdentityFile ~/.ssh/server_access_key_chaos_guest_vbox

Host gaia.chaos.vbox
  Hostname 127.0.0.1
  Port 2222
  User gaia
  IdentityFile ~/.ssh/server_access_key_chaos_guest_vbox

Host nyx.chaos.vbox
  Hostname 127.0.0.1
  Port 2222
  User nyx
  IdentityFile ~/.ssh/server_access_key_chaos_guest_vbox
	

