# Automatically indent a newly created line to the same number of tabs and/or spaces as the previous line
set autoindent
# Automatically hard-wrap the current line when it becomes overlong
# set breaklonglines # not veryusful while editing script or config
# Constantly display the cursor position in the status bar.
set constantshow
# Use cut-from-cursor-to-end-of-line by default, instead of cutting the whole line.
set cutfromcursor
# Do not use the line below the title bar, leaving it entirely blank
set emptyline

set guidestripe 120

set errorcolor brightwhite,latte
# Save the last hundred search strings and replacement strings and executed commands
set historylog
# Display a "scrollbar" on the righthand side of the edit window.
set indicator

set linenumbers
# Enable vim-style lock-files for when editing files.
set locking

set numbercolor latte,black
# Save the cursor position of files between editing sessions.
set positionlog
# Do regular-expression searches by default.
set regexp
# Make the Home key smarter.
set smarthome

set softwrap

set speller "aspell -c -x:"

set statuscolor blue,lagoon

set tabsize 2
set tabstospaces

set titlecolor lagoon,blue

set trimblanks

# Detect word boundaries differently by treating punctuation characters as parts of words.
set wordbounds

# Color Setting
#
# Valid names for the foreground and background colors are: red, green, blue, magenta, yellow, cyan,
# white, and black
# Each of these eight names may be prefixed with the word light to get a brighter version of that
# color.

# custom syntax highlighter
include "~hrt/boot/settings/nano/syntax-highlight/nginx.nanorc"
include "~hrt/boot/settings/nano/syntax-highlight/yaml.nanorc"
